#homenav-wrapper {
    height: 20%;
    background: url("../../../assets/images/school-bus.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
#homenav-wrapper a {
    color: white;
}
#logout-button {
    cursor: pointer;
    font-size: 30px;
}
#logout-button:hover {
    color: black;
}
#homenav-welcome {
    font-size: 30px;
}