.classroom-list-item {
    border: 1px solid black;
    margin: 1%;
    padding: 5px;
    display: flex;
    justify-content: space-around
   }
   .classroom-name:hover {
       text-decoration: underline;
   }