#landingnav-wrapper {
 height: 20%;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 position: relative;
 z-index: 999;

}
#teacher-login-button {
    cursor: pointer;
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
}
#teacher-login-button:hover {
    color: white;
}
#logo-text {
    font-size: 50px;
    font-family: 'Luckiest Guy', cursive;
    text-decoration: underline;
}