#student-grade-wrapper {
 display: flex;
 justify-content: space-around;
 flex-direction: column;
 align-items: center;
 margin: 2% 4%;
}
.student-row {
 display: grid;
 grid-template-columns: repeat(12, 1fr);
 grid-template-rows: 50px;
 align-items: center;
 padding: 40px;
}
.student-box {
 display: flex;
 justify-content: center;
 align-items: center;
 border: 1px solid black;
 width: 50px;
 height: 50px;
}
.student-date {
 transform: rotate(-35deg);
 position: absolute;
 top: -41px;
 left: 14px;
}
.box-holder {
 position: relative;
}
.student-name {
    text-align: right;
    padding-right: 10px;
}
#assessment-tab {
 display: flex;
 justify-content: center;
}
.assessment-tab-item {
 box-shadow: rgba(0,0,0,.25) 1px 1px 1px 1px;
 border-radius: 8px;
 margin: 10px;
 padding: 20px;
 cursor: pointer;
}