
.item-wrapper {
display: flex;
justify-content: space-between;
padding: 20px;
box-shadow: rgba(0,0,0,.25) 1px 1px 1px 1px;
border-radius: 8px;
margin: 10px;
}
.item-name-wrapper {
display: flex;
justify-content: space-between;
width: 80%;
text-align: left;
}
.item-name-text-wrapper {
   display: flex;
   overflow: hidden;
   width: 100%;
}

.classroom-name {
   color: black;
}
.classroom-name:hover {
   color: blue;
}
.classroom-name:active {
   color: black;
}
#list-header {
   display: flex;
   align-items: center;
   padding: 10px;
} 
.edit-wrapper {
   display: flex;
}