#homenav-wrapper {
    height: 20%;
    background-color: darkgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   #logout-button {
       cursor: pointer;
   }