#classroom-nav {
 height: 5%;
 background-color: white;
 display: flex;
 justify-content: space-around;
 align-items: center;
 border: 1px solid black;
}
.classroom-nav-item:hover, .classroom-nav-item:active {
    text-decoration: underline;
}